Bio==1.8.1
biopython==1.85
bokeh==3.7.3
cobra==0.29.1
holoviews==1.21.0
git+https://github.com/Devlin-Moyer/macaw.git@main
matplotlib==3.10.7
matplotlib-venn==1.1.2
micom==0.37.1
numpy==2.3.4
pandas==2.0.3
plotly==6.3.1
PubChemPy==1.0.4
pyvis==0.3.2
Requests==2.32.5
scikit-bio==0.7.0
scikit-learn==1.7.2
seaborn==0.13.2
umap-learn==0.5.3
upsetplot==0.9.0
